@keyframes x-axis {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to { opacity: 1; }
}

@keyframes y-axis {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to { opacity: 1; }
}

@mixin animate ($direction: x, $time: 2s) {
    @if $direction == x { animation: x-axis $time backwards; }
    @else if $direction == y { animation: y-axis $time backwards; }
}