<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/fontawesome/css/all.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="../public/css/form.css">
    <link rel="stylesheet" href="/public/css/signUp.css">
    <title>TryKeep | Contact</title>
</head>
<body>

    <!-- Menu -->

    <header id="header">
        <a href="/views/index.html" id="logo">
            <img src="../public/svg/prayingmantisicon.svg" alt="An praying mantis as a icon">
            <h3>Try<span>Keep</span></h3>
        </a>
        <nav id="nav">
            <button id="btn-mobile" aria-label="Open Menu" aria-haspopup="true" aria-controls="menu" aria-expanded="false">
                <span id="hamburger"></span>
            </button>
            <ul id="menu" role="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="signIn.html">Sign In</a></li>
                <li><a class="active-link" href="signUp.html">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <!-- Container -->

    <section id="container">
        <div id="platform">
            <div id="icon">
                <img src="../public/svg/iconSignUp.svg" alt="Contact Icon">
            </div>
            <div id="form">
                <div id="helper">
                    <h3>Welcome :)</h3>
                    <form>
                        <div id="form-container">
                            <input type="text" placeholder="Email">
                            <input type="password" placeholder="Password">
                            <button type="submit">Sign In</button>
                        </div>
                    </form>
                    <p>New here? 
                        <span>
                            <a href="signUp.html">Sign in</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Scripts -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="../public/js/main.js"></script>
    <script src="../public/js/signUp.js"></script>
</body>
</html>