.header {
    @include boundaries();
    background-color: #1e1e1e;
    color: #f6f6f6;
    height: 70px;

    &__inside {
        width: 100%;
        padding: 0 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.3s;

        nav ul {
            font-weight: bold;
            display: flex;
            gap: 20px;
        }

        @media (max-width: 525px) {
            flex-direction: column;
            padding: 16px 32px;
        }
    }
    @media (max-width: 525px) {
        height: auto;
    }
}
