.contacts {
    margin: 0 auto;
    padding: 64px;
    background-color: #1e1e1e38;
    width: 600px;
    max-width: 100%;
    transition: 0.3s;

    h3 {
        margin-bottom: 20px;
        font-size: 2rem;
        color: #f6f6f6;
    }

    .contact {
        position: relative;
        background-color: #1e1e1e38;
        margin-bottom: 10px;
        color: #f6f6f6;
        display: flex;

        .photo {
            background-color: #1e1e1e38;
            width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;

            h5 {
                font-size: 2rem;
                font-weight: bold;
            }
        }

        .content {
            padding: 14px;

            h6 {
                opacity: 0.3;
            }
        }

        .actions {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            right: 0;
            width: 80px;
            height: 100%;

            ion-icon {
                font-size: 1.4rem;
                color: #a53030;
            }
        }
    }

    @media (max-width: 525px) {
        padding: 32px;
    }
}
